/* COMMON */

#root {display: none;}
.fontawesome-i2svg-active #root {display: initial;}
.fontawesome-i2svg-active .c-loader {display: none;}


/* UTILS */

.u-color-white {color: white;}
.u-text-right {text-align: right;}
.u-text-center {text-align: center;}
@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}
.u-cursor-pointer {cursor: pointer;}
.u-cursor-default {cursor: default;}
.u-no-select {user-select: none;}
.u-mgl-10 {margin-left: 10px;}
.u-mgt-30 {margin-top: 30px;}
.u-mgb-30 {margin-bottom: 30px;}
.u-d-ib {display: inline-block;}

/* BODY */
.c-loader {
  animation: spin 1s linear infinite;
  border: 5px solid #f3f3f3; /* Light grey */
  border-radius: 50%;
  border-top: 5px solid #3498db; /* Blue */
  height: 50px;
  width: 50px;
}

.c-loader--center {
  left: 50%;;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* HEADER */

.c-header {
  background-color: #222;
  position: relative;
}


.c-header__logo {
  color: white;
  font-size: 40px;;
}




/* LOGIN REGISTER */
.c-login-register {
  margin-top: 90px;
}

.c-login-register__tab-content {
  padding-top: 30px;
}

.c-login-register__remember-me {
  align-items: center;
  display: flex;
  justify-content: center
}
.c-login-register__remember-me > label {font-weight: bold; margin: 0; margin-left: 5px;}

.c-login-register__panel {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  padding-bottom: 15px;
  padding-top: 15px;
}
